<div class="cards-container">
  <app-dashboard-card>
    <app-floating-spinner *ngIf="loadingPatientsAttendedToday"></app-floating-spinner>
    <div class="card-title">PACIENTES ATENDIDOS HOY</div>
    <div class="card-quantity blue-grey-fg">{{quantityPatientsAttendedToday | number}}</div>
  </app-dashboard-card>

  <app-dashboard-card>
    <app-floating-spinner *ngIf="loadingPatientsAttendedInTheMonth"></app-floating-spinner>
    <div class="card-title">PACIENTES ATENDIDOS EN EL MES</div>
    <div class="card-quantity red-fg">{{quantityPatientsAttendedInTheMonth | number}}</div>
  </app-dashboard-card>

  <app-dashboard-card>
    <app-floating-spinner *ngIf="loadingPatientsAttendedInTheLastMonth"></app-floating-spinner>
    <div class="card-title">PACIENTES ATENDIDOS EN EL MES ANTERIOR</div>
    <div class="card-quantity orange-fg">{{quantityPatientsAttendedInTheLastMonth | number}}</div>
  </app-dashboard-card>
</div>
