<div mat-dialog-title class="primary" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex>{{dialogTitle}}</div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading" class="progress-bar"></mat-progress-bar>

<div mat-dialog-content>

  <div class="product-content-wrapper">

    <div class="product-form-container">
      <form
        [formGroup]="doctorForm"
        fxLayout="column"
        fxLayoutAlign="start">

        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="name" required autocomplete="off"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName" required autocomplete="off"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input type="email" matInput formControlName="email" required autocomplete="off"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>

          <input matInput
                 [matDatepicker]="birthdateDatePicker"
                 (focus)="birthdateDatePicker.open()"
                 formControlName="birthDate"
                 readonly>

          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-datepicker #birthdateDatePicker></mat-datepicker>

        <mat-form-field appearance="outline">
          <mat-label>Género</mat-label>
          <mat-select formControlName="genderId">
            <mat-option *ngFor="let gender of genderList" [value]="gender.id">
              {{gender.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número de teléfono</mat-label>
          <input matInput formControlName="phoneNumber" required autocomplete="off"/>
          <mat-error *ngIf="doctorForm.get('phoneNumber').hasError('required')">
            Campo requerido
          </mat-error>
          <mat-error *ngIf="doctorForm.get('phoneNumber').hasError('pattern')">
            Ingrese un número de teléfono válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dirección de domicilio</mat-label>
          <textarea matInput formControlName="address" required autocomplete="off">
        </textarea>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número de colegiado activo</mat-label>
          <input matInput formControlName="activeCollegiate" required autocomplete="off"/>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Documento personal de identificación (DPI)</mat-label>
          <input matInput formControlName="identificationDocumentNumber" required autocomplete="off"/>
          <mat-error *ngIf="doctorForm.get('identificationDocumentNumber').hasError('required')">
            Campo requerido
          </mat-error>
          <mat-error *ngIf="doctorForm.get('identificationDocumentNumber').hasError('pattern')">
            DPI ingresado no es válido
          </mat-error>
        </mat-form-field>

<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Tipo de documento</mat-label>-->
<!--          <mat-select formControlName="identificationDocumentTypeId">-->
<!--            <mat-option *ngFor="let documentType of documentTypeList" [value]="documentType.id">-->
<!--              {{documentType.name}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error>-->
<!--            Campo requerido-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

        <mat-form-field appearance="outline">
          <mat-label>Especialidad</mat-label>
          <mat-select formControlName="specialtyId">
            <mat-option *ngFor="let specialty of specialtyList" [value]="specialty.id">
              {{specialty.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="isEditMode">
          <mat-slide-toggle formControlName="active">
            Activo
          </mat-slide-toggle>
        </div>

      </form>

    </div>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="aceptar()" [disabled]="doctorForm.invalid">{{okButton}}</button>
</div>
