<div fxFlex fxLayout="column" class="card-layout-container">
  <div class="mat-elevation-z8" fxFlex fxLayout="column">
    <ng-template [ngIf]="templateContent">
      <ng-template [cdkPortalOutlet]="templateContent"></ng-template>
    </ng-template>

    <button
      mat-fab
      aria-label="float action button"
      class="float-right-botton-button"
      title="{{floatActionButtonTranslateKey}}"
      (click)="onActionButton()"
      *ngIf="showFloatActionButton"
      [disabled]="floatActionButtonDisabled">
      <mat-icon>{{floatActionButtonIcon}}</mat-icon>
    </button>
  </div>
</div>
