:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .card-layout-container {
    padding: 10px;
    position: relative;

    .float-right-botton-button {
      right: 38px;
      position: fixed;
      bottom: 58px;
      z-index: 100;
    }
  }
}
