:host {
  background-color: #2D323E;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  .login-mat-card {
    height: 600px;
    width: 400px;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);

    .logo-container {
      margin-bottom: 15px;

      img {
        height: 175px;
        width: auto;
      }
    }

    .login-button {
      width: 250px;
      margin-bottom: 5px;
    }
  }

}
