:host {
  display: block;
  position: relative;
  margin: 10px;

  .search-bar-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border-color: rgb(203, 213, 225);
    border-width: 1px;
    border-style: solid;
    background-color: white;
    min-height: 40px;
    align-items: center;

    mat-icon {
      margin-left: 5px;
      color: #757575;
    }

    input {
      padding: 0;
      margin-left: 5px;
      margin-right: 5px;
      width: 100%;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      border: none;
    }
  }
}
