<mat-toolbar class="custom-mat-toolbar">
  <mat-toolbar-row fxLayout="row">

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button aria-label="Back button" (click)="onToggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex></div>

    <!--MI PERFIL-->
    <div fxLayout="row"
         fxLayoutAlign="end center">
      <button mat-button class="user-button" [matMenuTriggerFor]="userMenu">
        <img [src]="photoURL" class="avatar" alt="user avatar">
        <span class="username">{{userName}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Mi perfil</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesion</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar-row>
  <mat-progress-bar mode="indeterminate" class="toolbar-progress-bar" *ngIf="loading"></mat-progress-bar>
</mat-toolbar>
