<div fxLayout="column" fxFlex class="content-wrapper" *ngIf="operationType !== 'READONLY'">
  <form [formGroup]="pharmacyForm" fxLayout="column" fxLayoutAlign="start">

    <mat-form-field appearance="outline">
      <mat-label>Medicamento</mat-label>
      <mat-select formControlName="medecineInventoryId" (openedChange)="stockListFilterControl.onClearFilter()">
        <!-- filtra lista de medicamentos -->
        <app-mat-select-search placeholderLabel="Buscar" (searchValueOutput)="onFilterStock($event)"
                               #stockListFilterControl>
        </app-mat-select-search>

        <mat-option *ngFor="let stock of filteredStocks | async" [value]="stock.id">
          {{stock.medicineName}} (Precio: {{stock.salePrice}}, en stock: {{stock.stock}})
        </mat-option>
      </mat-select>

      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input matInput formControlName="quantity" required autocomplete="off" type="number"/>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>
  </form>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-stroked-button color="primary" (click)="addMedicine()" [disabled]="pharmacyForm.invalid">
      Agregar
    </button>
  </div>
</div>

<div fxLayout="column" fxFlex class="content-wrapper">
  <ag-grid-angular
    class="ag-theme-balham ag-grid-full-size"
    [rowData]="inventoryReferenceList"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef">
  </ag-grid-angular>
</div>
