:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .main-layout-container {
    // TODO quitar esto
    //padding: 10px;
    position: relative;
    background-color: #fafafa;
  }
}
