<div class="schedule-content-wrapper">

  <div class="header p-16 p-sm-24" [ngClass]="viewDate | date:'MMM'">

    <div class="header-content" fxLayout="column" fxLayoutAlign="space-between">

      <div class="header-top" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">

        <div class="logo mb-16 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon">today</mat-icon>
          <span class="logo-text">Calendario de citas médicas</span>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

          <!--          <button mat-icon-button aria-label="Search" matTooltip="Search">-->
          <!--            <mat-icon>search</mat-icon>-->
          <!--          </button>-->

          <button mat-icon-button (click)="view='month'" aria-label="Month" matTooltip="Citas del mes">
            <mat-icon>view_module</mat-icon>
          </button>

          <button mat-icon-button (click)="view='day'" aria-label="Day" matTooltip="Citas del dia">
            <mat-icon>view_day</mat-icon>
          </button>

          <button mat-icon-button (click)="view='week'" aria-label="Week" matTooltip="Citas de la semana">
            <mat-icon>view_week</mat-icon>
          </button>

          <button mat-icon-button
                  mwlCalendarToday
                  [(viewDate)]="viewDate"
                  (viewDateChange)="selectedDay = {date:$event}"
                  aria-label="Today" matTooltip="Today">
            <mat-icon>today</mat-icon>
          </button>

        </div>
      </div>
      <!-- / TOOLBAR -->

      <!-- HEADER BOTTOM -->
      <div class="header-bottom" fxLayout="row" fxLayoutAlign="center center">

        <button mat-icon-button class="arrow"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="selectedDay = {date:$event}"
                aria-label="Previous">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="title">
          {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        </div>

        <button mat-icon-button class="arrow"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="selectedDay = {date:$event}"
                aria-label="Next">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <!-- / HEADER BOTTOM -->
    </div>

    <!-- ADD EVENT BUTTON -->
    <button mat-fab class="add-event-button mat-accent" (click)="addEvent()" aria-label="Add event">
      <mat-icon>add</mat-icon>
    </button>
    <!-- / ADD EVENT BUTTON -->
  </div>

  <div class="content">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="goToMedicalHistory('edit', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (beforeViewRender)="beforeMonthViewRender($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="goToMedicalHistory('edit', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="goToMedicalHistory('edit', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </div>

</div>
