<div mat-dialog-title class="primary" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex>{{dialogTitle}}</div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading" class="progress-bar"></mat-progress-bar>

<div mat-dialog-content>

  <div class="dialog-content-wrapper">

    <div class="dialog-form-container">
      <form
        [formGroup]="inventoryForm"
        fxLayout="column"
        fxLayoutAlign="start">

        <mat-form-field appearance="outline">
          <mat-label>Medicamento</mat-label>
          <mat-select formControlName="medicineId"
                      (openedChange)="labTestFilterControl.onClearFilter()"
                      (selectionChange)="onSelectMedicine()">
            <!-- filtra lista de medicamentos -->
            <app-mat-select-search placeholderLabel="Buscar" (searchValueOutput)="onFilterMedicineList($event)"
                                   #labTestFilterControl>
            </app-mat-select-search>

            <mat-option *ngFor="let medicine of filteredMedicine | async" [value]="medicine.id">
              {{medicine.name}}
            </mat-option>
          </mat-select>

          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="inventoryForm.controls.medicineId.value === 0">
          <mat-label>Nombre del nuevo medicamento</mat-label>
          <input matInput formControlName="medicineName" required autocomplete="off"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="quantity" required autocomplete="off" type="number"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Precio de compra</mat-label>
          <input matInput formControlName="purchasePrice" required autocomplete="off" type="number"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Precio de venta</mat-label>
          <input matInput formControlName="salePrice" required autocomplete="off" type="number"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número de lote</mat-label>
          <input matInput formControlName="batchNumber" required autocomplete="off"/>
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha de vencimiento</mat-label>

          <input matInput
                 [matDatepicker]="birthdateDatePicker"
                 (focus)="birthdateDatePicker.open()"
                 formControlName="expirationDate"
                 readonly>

          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-datepicker #birthdateDatePicker></mat-datepicker>

        <!--        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="isEditMode">-->
        <!--          <mat-slide-toggle formControlName="active">-->
        <!--            Activo-->
        <!--          </mat-slide-toggle>-->
        <!--        </div>-->

      </form>

    </div>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="aceptar()" [disabled]="inventoryForm.invalid">{{okButton}}</button>
</div>
