<div mat-dialog-title class="primary" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex>{{dialogTitle}}</div>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading" class="progress-bar"></mat-progress-bar>

<div mat-dialog-content>

  <div class="product-content-wrapper">

    <div class="product-form-container">
      <form
        [formGroup]="eventForm"
        fxLayout="column"
        fxLayoutAlign="start">

        <mat-form-field appearance="outline">
          <mat-label>Doctor</mat-label>
          <mat-select formControlName="doctorId" (openedChange)="doctorsFilterControl.onClearFilter()">
            <!-- filtra lista de doctores -->
            <app-mat-select-search placeholderLabel="Buscar" (searchValueOutput)="onFilterDoctors($event)"
                                   #doctorsFilterControl>
            </app-mat-select-search>

            <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor.id">
              {{doctor.name}}
            </mat-option>
          </mat-select>

          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-slide-toggle class="existing-patient-toggle"
                          formControlName="isExistingPatient"
                          (change)="onChangeIsExistingPatient()">
          Es paciente existente
        </mat-slide-toggle>

        <mat-form-field appearance="outline" *ngIf="eventForm.controls.isExistingPatient.value">
          <mat-label>Seleccionar paciente</mat-label>
          <mat-select formControlName="patientId"
                      (selectionChange)="onSelectPatient()"
                      (openedChange)="patientsFilterControl.onClearFilter()">
            <!-- filtra lista de pacientes -->
            <app-mat-select-search placeholderLabel="Buscar" (searchValueOutput)="onFilterPatients($event)"
                                   #patientsFilterControl>
            </app-mat-select-search>

            <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient.id">
              {{patient.identificationDocumentNumber}} - {{ patient.name }} {{ patient.lastName }}
            </mat-option>
          </mat-select>

          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="!eventForm.controls.isExistingPatient.value">
          <mat-label>Nombre del paciente</mat-label>
          <input matInput formControlName="patientName">
          <mat-error>
            Campo requerido
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between">

          <mat-form-field appearance="outline">
            <mat-label>Fecha de cita</mat-label>

            <input matInput
                   [matDatepicker]="eventDatePicker"
                   (focus)="eventDatePicker.open()"
                   formControlName="eventDate"
                   readonly>

            <mat-datepicker #eventDatePicker></mat-datepicker>

            <mat-error>
              Campo requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="hour-text-field">
            <mat-label>Hora inicio</mat-label>
            <input matInput formControlName="startTime" required autocomplete="off" type="time"/>
            <mat-error>
              Campo requerido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="hour-text-field">
            <mat-label>Hora fin</mat-label>
            <input matInput formControlName="endTime" required autocomplete="off" type="time"/>
            <mat-error>
              Campo requerido
            </mat-error>
          </mat-form-field>

        </div>

        <mat-form-field appearance="outline">
          <mat-label>Motivo de consulta</mat-label>
          <textarea matInput formControlName="note" required autocomplete="off" rows="10">
          </textarea>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

      </form>

    </div>

  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="aceptar()" [disabled]="eventForm.invalid">{{okButton}}</button>
</div>
