:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  height: 100%;
  position: relative;

  .product-content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .product-form-container {
      padding-right: 15px;
      padding-left: 15px;

      .existing-patient-toggle {
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }

  }

  .hour-text-field {
    width: 100px;
  }

  .progress-bar {
    position: absolute;
    top: 0;
    width: 100%;
  }

}
