:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .medical-history-title {
    font-weight: 600;
    font-size: 1.6rem;
    padding: 20px;
    color: #1E2129;
  }

  .medical-history-patient {
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    color: #1E2129;
  }

  .medical-history-add-button-container {
    padding: 10px;
  }
}
