<app-card-layout [showFloatActionButton]="false">
  <ng-template appCardLayoutContent>
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center start">
        <button mat-icon-button
                aria-label="back to patient list"
                title="Regresar a la lista de pacientes"
                (click)="onBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <div fxLayout="column">
        <div class="medical-history-title">Historial médico</div>
        <div class="medical-history-patient">{{patientName}} ({{patientIdentificationNumber}})</div>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <app-search-bar fxFlex (searchOutput)="search($event)"></app-search-bar>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" class="medical-history-add-button-container" *ngIf="canAddMedicalHistory">
        <button mat-raised-button color="primary" (click)="onAdd()">Agregar historia</button>
      </div>
    </div>

    <div class="medical-history-table" fxFlex>
      <ag-grid-angular
        class="ag-theme-balham ag-grid-full-size"
        [rowData]="historyList"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef">
      </ag-grid-angular>
    </div>
  </ng-template>
</app-card-layout>
