<div fxLayout="column" fxFlex class="content-wrapper" *ngIf="operationType !== 'READONLY'">
  <form [formGroup]="prescriptionForm" fxLayout="column" fxLayoutAlign="start">

    <mat-form-field appearance="outline">
      <mat-label>Medicamento</mat-label>
      <mat-select formControlName="medicineId" (openedChange)="labTestFilterControl.onClearFilter()">
        <!-- filtra lista de medicamentos -->
        <app-mat-select-search placeholderLabel="Buscar" (searchValueOutput)="onFilterMedicineList($event)"
                               #labTestFilterControl>
        </app-mat-select-search>

        <mat-option *ngFor="let medicine of filteredMedicine | async" [value]="medicine.id">
          {{medicine.name}}
        </mat-option>
      </mat-select>

      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Indicaciones</mat-label>
      <textarea rows="10" matInput formControlName="indications" required autocomplete="off"></textarea>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>
  </form>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-stroked-button color="primary" (click)="addPrescription()" [disabled]="prescriptionForm.invalid">
      Agregar
    </button>
  </div>
</div>

<div fxLayout="column" fxFlex class="content-wrapper">
  <ag-grid-angular
    class="ag-theme-balham ag-grid-full-size"
    [rowData]="medicalHistoryPrescriptionList"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef">
  </ag-grid-angular>
</div>
