<div fxLayout="column" fxFlex class="content-wrapper" *ngIf="operationType !== 'READONLY'">
  <form [formGroup]="labTestForm" fxLayout="column" fxLayoutAlign="start">

    <mat-form-field appearance="outline">
      <mat-label>Examen de laboratiorio</mat-label>
      <mat-select formControlName="labTestId" (openedChange)="labTestFilterControl.onClearFilter()">
        <!-- filtra lista de examenes -->
        <app-mat-select-search placeholderLabel="Buscar" (searchValueOutput)="onFilterLabTest($event)"
                               #labTestFilterControl>
        </app-mat-select-search>

        <mat-option *ngFor="let labTest of filteredLabTest | async" [value]="labTest.id">
          {{labTest.name}}
        </mat-option>
      </mat-select>

      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea rows="10" matInput formControlName="description" required autocomplete="off"></textarea>
      <mat-error>Campo requerido</mat-error>
    </mat-form-field>
  </form>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-stroked-button color="primary" (click)="addLabTest()" [disabled]="labTestForm.invalid">
      Agregar
    </button>
  </div>
</div>

<div fxLayout="column" fxFlex class="content-wrapper">
  <ag-grid-angular
    class="ag-theme-balham ag-grid-full-size"
    [rowData]="medicalHistoryLabTestList"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef">
  </ag-grid-angular>
</div>
