/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "node_modules/angular-calendar/css/angular-calendar";
@import 'src/scss/ticket-editor';


/*COLORES PRINCIPALES*/

$color-primario: #3f51b5;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  color: #fafafa;
  background: #558b2f;
}

.snackbar-error {
  color: #fafafa;
  background: #f44336;
}

.width-100-percent {
  width: 100%;
}

.mat-dialog-without-padding {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
    position: relative;

    .mat-dialog-title {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
      min-height: 46px;
    }

    .mat-dialog-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0;
      position: relative;
      max-height: none;
    }

    .mat-dialog-actions {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
      position: relative;
    }
  }
}

.pdf-viewer-dialog-container {
  width: 90%;
  height: 90%;

  .mat-dialog-container {
    padding: 0;
    overflow-x: hidden;

    .mat-dialog-content {
      margin: 0;
      padding: 0;
      max-height: none;
    }
  }
}

.mat-list-item {
  .mat-line {
    color: #757575;
  }

  .mat-list-icon {
    color: #616161;
  }
}

.ag-grid-full-size {
  width: 100%;
  height: 100%;
}
