@import 'src/scss/breakpoints';

.ticket-editor-custom-menu {
  min-width: 28px !important;

  .mat-menu-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    .custom-mat-menu-item {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      cursor: pointer;
      width: 100%;

      &.custom-mat-menu-item-center {
        -webkit-align-items: center;
        -webkit-justify-content: center;
        align-items: center;
        justify-content: center;
      }
    }

    .custom-mat-menu-item:hover {
      background-color: #CCC;
    }

    .format-size-menu {
      padding-right: 10px;
      padding-left: 10px;
      min-height: 32px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;

      &.format-size-menu-active {
        background-color: rgb(158, 158, 158);
      }

      &.menu-little {
        font-size: 10px;
      }

      &.menu-normal {
        font-size: 14px;
      }

      &.menu-big {
        font-size: 18px;
      }

      &.menu-huge {
        font-size: 22px;
      }
    }
  }
}

.fate-edit-target {
  border: none !important;
}

.editor-toolbar-button {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  height: 28px;
  width: 28px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background 300ms;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 1.5px;
  margin-left: 1.5px;

  mat-icon {
    color: #616161;
  }

  &.editor-toolbar-button-active {
    background-color: #E5E5E5;

    mat-icon {
      color: #222;
    }
  }
}

.editor-toolbar-button:hover {
  background-color: #CCC;
}

.editor-toolbar-button-separator {
  border-left: 1px solid rgba(0, 0, 0, .12);
  height: 25px;
  line-height: normal;
  list-style: none;
  margin: 0 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
  width: 0;
}

.ticket-info-menu {
  padding: 8px;

  .mat-menu-content {
    min-width: 400px;

    @include media-breakpoint('xs') {
      min-width: 300px;
      width: 300px;
    }

    .ticket-info-item {
      padding-bottom: 10px;

      .text-description {
        color: #999;
        padding: 1px 8px 1px 0;
        text-align: right;
      }
    }
  }
}

.ticket-editor-actions-left-buttons {
  flex-grow: 100;
  -webkit-flex-grow: 100;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}

.ticket-editor-send-response-button {
  background-color: #1a73e8;
  color: #fff;
  margin-right: 10px;
}

.ticket-editor-send-response-button:disabled {
  background-color: #dddddd;
}

.ticket-editor-actions-right-buttons {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
}
