<app-card-layout [showFloatActionButton]="false">
  <ng-template appCardLayoutContent>
    <div fxLayout="row">
      <div fxLayout="column">
        <div class="doctors-title">Médicos</div>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <app-search-bar fxFlex (searchOutput)="searchDoctor($event)"></app-search-bar>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" class="doctors-add-button-container">
        <button mat-raised-button color="primary" (click)="onAdd()">Agregar médico</button>
      </div>
    </div>
    <ag-grid-angular
      class="ag-theme-balham ag-grid-full-size"
      [rowData]="doctors"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColDef">
    </ag-grid-angular>
  </ng-template>
</app-card-layout>
