:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  height: 100%;
  position: relative;

  .dialog-progress-bar {
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
  }

  .form-wrapper {
    padding: 20px;
  }
}
