<mat-progress-bar mode="indeterminate" *ngIf="loading" class="dialog-progress-bar"></mat-progress-bar>

<div mat-dialog-content>
  <app-mat-simple-tabs>
    <app-mat-simple-tab [tabTitle]="'General'">
      <ng-template appMatSimpleTabContent>
        <div class="form-wrapper">
          <form [formGroup]="medicalHistoryForm" fxLayout="column" fxLayoutAlign="start">

            <mat-form-field appearance="outline">
              <mat-label>Doctor</mat-label>
              <mat-select formControlName="doctorId"
                          (openedChange)="doctorsFilterControl.onClearFilter()">
                <!-- filtra lista de doctores -->
                <app-mat-select-search placeholderLabel="Buscar" (searchValueOutput)="onFilterDoctors($event)"
                                       #doctorsFilterControl>
                </app-mat-select-search>

                <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor.id">
                  {{doctor.name}}
                </mat-option>
              </mat-select>

              <mat-error>
                Campo requerido
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea rows="13" matInput formControlName="description" required autocomplete="off"></textarea>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Diagnóstico</mat-label>
              <textarea rows="13" matInput formControlName="diagnostic" required autocomplete="off"></textarea>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
          </form>
        </div>
      </ng-template>
    </app-mat-simple-tab>

    <app-mat-simple-tab [tabTitle]="'Receta'">
      <ng-template appMatSimpleTabContent>
        <app-medical-history-prescription [medicalHistoryId]="medicalHistoryId"
                                          [operationType]="operationType"
                                          (prescriptionsOutput)="setPrescriptionList($event)">
        </app-medical-history-prescription>
      </ng-template>
    </app-mat-simple-tab>

    <app-mat-simple-tab [tabTitle]="'Pruebas de laboratorio'">
      <ng-template appMatSimpleTabContent>
        <app-medical-history-lab-test [medicalHistoryId]="medicalHistoryId"
                                      [operationType]="operationType"
                                      (labTestListOutput)="setLabTestList($event)">
        </app-medical-history-lab-test>
      </ng-template>
    </app-mat-simple-tab>

    <app-mat-simple-tab [tabTitle]="'Farmacia'">
      <ng-template appMatSimpleTabContent>
        <app-medical-history-pharmacy [medicalHistoryId]="medicalHistoryId"
                                      [operationType]="operationType"
                                      (inventoryReferenceListOutput)="setInventoryReferenceList($event)">
        </app-medical-history-pharmacy>
      </ng-template>
    </app-mat-simple-tab>
  </app-mat-simple-tabs>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onClose()">Cerrar</button>
  <button mat-button
          *ngIf="operationType !== 'READONLY'"
          (click)="ok()"
          [disabled]="medicalHistoryForm.invalid">
    {{okButtonDescription}}
  </button>
</div>
